<div>
  <div layout="row">
      <sbfr-button
       [buttonConfig]="buttonConfig[0]"
       (onButtonClick)="performAction($event)">
      </sbfr-button>
          <sbfr-button
           [buttonConfig]="buttonConfig[1]"
           (onButtonClick)="performAction($event)">
          </sbfr-button>
              <sbfr-button
               [buttonConfig]="buttonConfig[2]"
               (onButtonClick)="performAction($event)">
              </sbfr-button>
                  <sbfr-button
                   [buttonConfig]="buttonConfig[3]"
                   (onButtonClick)="performAction($event)">
                  </sbfr-button>
                      <sbfr-button
                       [buttonConfig]="buttonConfig[4]"
                       (onButtonClick)="performAction($event)">
                      </sbfr-button>
                          <sbfr-button
                           [buttonConfig]="buttonConfig[5]"
                           (onButtonClick)="performAction($event)">
                          </sbfr-button>
  </div>
  <div layout="row">
    <sbfr-records-table></sbfr-records-table>
    <sbfr-log-status-pannel></sbfr-log-status-pannel>
  </div>
</div>
