<div>
    <div layout="row" class="display-row button-section">
        <div *ngFor="let config of buttonConfig">
            <div class="display-cell">
          <sbfr-button
           [buttonConfig]="config"
           (onButtonClick)="performAction($event)">
          </sbfr-button>
        </div></div>
    </div>
    <div layout="row" class="display-row">
        <div layout="column" class="display-cell records-section">
            <sbfr-records-table
                    [arrOldest]="arrOldest"
                    [arrNewest]="arrNewest">
            </sbfr-records-table>
        </div>
        <div layout="column" class="display-cell stats-section">
            <sbfr-log-status-pannel
                    [bufferLogsStats]="arrStats">
            </sbfr-log-status-pannel>
        </div>
    </div>
</div>
